html, body, section {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		/*font-family: georgia, serif;*/
		color: #666;
		/*font-family: 'Libre Baskerville', serif;*/
		/*font-family: 'Junge', serif;*/
		/*font-family: 'Averia Libre', cursive;*/
		font-family: 'Roboto Condensed', sans-serif;
		/*background: url('../images/tiny_grid.png') repeat;*/
}

section {
		display: none;
		overflow: scroll;
}

.active {
		display: block !important;
}

h1 {
		background: none repeat scroll 0 0 #444444;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		color: #ddd;
		font-size: 1.5em;
		font-weight: normal;
		margin: 0;
		padding: 10px 5%;
}

#home {
		background: #222;
}

#home h1 {
		text-align: center;
		font-size: 5em;
		background: #222;
		color: #fff;
		height: 100%;
		padding: 50px 0 0 0;
		cursor: pointer;
		box-shadow: none;
                box-sizing: border-box;
}

#home h1:hover{
		background: #252525;
}

#login h1 {
		text-align: center;
		font-size: 3em;
		background: #222;
		color: #fff;
		margin-bottom: 30px;
}

h2, h3, p {
		padding: 0 5%;
		font-weight: normal;
}

ol {
		padding: 0 10%;
}

ul,
ul li {
		list-style: none;
		margin: 0;
		padding: 0;
}

/* Login Screen */

#email, #password {
  display: block;
  font-size: 1em;
		font-family: 'Roboto Condensed', sans-serif;
  border: 2px solid #ccc;
  padding: 12px 17px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
  -webkit-border-radius: 0.43em;
     -moz-border-radius: 0.43em;
}

#email {
  margin-bottom: 1em;
}

#password {
  margin-bottom: 0.8em;
}


/* Stuff */

.button {
  display: block;
  width: 90%;
  background: #0ad5b1;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  padding: 0.5em 0;
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  font-size: 1.5em;
  -webkit-border-radius: 0.2em;
     -moz-border-radius: 0.2em;
  text-decoration: none;
}

.next {
  background: #0ad5b1;
}

.next:hover {
  text-decoration: none;
  background: #2ea792;
}

.cancel {
  background: #f00;
}

.cancel:hover {
		background: #d90303;
}


/* congrats screens */

section.congrats h2,
section.congrats h3,
section.congrats p {
		text-align: center;
}

/*assignment screen*/

ul.assignments li {
		width: 100%;
		display: inline;
		overflow: hidden;
}

ul.assignments li .button{
		width: 100%;
		font-size: 1em;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
		display: block;
		float: left;
		border-bottom: 1px solid #fff;
}

ul.assignments li.list-number {
		width: 10%;
		float: left;
		text-align: center;
}

ul.assignments li.list-text {
		width: 80%;
		display: inline-block;
		float: left;
}

ul.assignments li.raquo {
  width: 10%;
		text-align: center;
		float: left;
}

/* STUFF I HATE */

ul.browse li {
		display: block;
		height: 100px;
		margin-top: 10px;
}

ul.browse li ul.next {
		padding: 0 5%;		
}

ul.browse li.list-image {
		float: left;
		width: 75px;
		height: 75px;
		overflow: hidden;
		background: #000;
}

ul.browse li.list-text {
		float: left;
		width: 65%;
		margin-left: 5%;
}

ul.browse li.list-text p{
		padding: 0;
		margin: 0;
}

ul.browse li.list-text p.head{
		font-size: 1em;
		color: #000;
		height: 55px;
}

ul.browse li.list-text p.user{
		font-size: 0.8em;
		color: #999;
		float: left;
}

ul.browse li.list-text p.user .votes{
		background: url('../images/heart.gif') 0 0 no-repeat;
		width: 20px;
		padding-left: 20px;
		margin-left: 12px;
		color: #ff3366;
}

ul.browse li.list-image img {
		height: 75px;
}

label {
		display: inline-block;
  width: 100px;
}


/* tuts stuff */

#metadata_photo {
  position: relative;
  margin: 0 0 0 -100px;
  left: 50%;
}

.tutorial video {
  width: 266px;
  height: 200px;
  position: relative;
  left: 50%;
  margin: 0 0 0 -133px;
}

.tutorial ul {
  margin: 0 0 1em 5%;
}

.tutorial ul li {
  margin: 0 0 0 1em;
  list-style: square;
}

.tutorial .button {
  margin: 0 auto 1em;
}

.star {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 48px;
  background: url(/images/star.png) 0 0 no-repeat;
  -webkit-transition: top 2s linear;
}

#level1_metadata .button.next {
  margin-bottom: 1em;
}

#user_description {
  background: #ddd;
  padding: 38px 0 0 0;
}

#user_description h4 {
  font-size: 1.3em;
  margin: 0;
}

#user_profile_pic {
  float: left;
  margin: 0 5% 0 5%;
}

#user_profile_pic img {
  width: 225px;
  height: 225px;
}

