html, body, section {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		/*font-family: georgia, serif;*/
		color: #666;
		/*font-family: 'Libre Baskerville', serif;*/
		/*font-family: 'Junge', serif;*/
		/*font-family: 'Averia Libre', cursive;*/
		font-family: 'Roboto Condensed', sans-serif;
		background: url('../images/tiny_grid.png') repeat;
}

section {
		display: none;
}

.active {
		display: block;
}

h1 {
		background: none repeat scroll 0 0 #444444;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		color: #aaa;
		font-size: 2em;
		font-weight: normal;
		margin: 0;
		padding: 10px 5%;
}

h2, h3, p {
		padding: 0 5%;
		font-weight: normal;
}

ol {
		padding: 0 10%;
}

ul,
ul li {
		list-style: none;
		margin: 0;
		padding: 0;
}

.next {
  display: block;
  width: 90%;
  background: #0ad5b1;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  padding: 0.5em 0;
		font-family: 'Roboto Condensed', sans-serif;
		border: none;
  font-size: 1.5em;
  -webkit-border-radius: 0.2em;
     -moz-border-radius: 0.2em;
}

.next:hover {
  text-decoration: none;
		background: #2ea792;
}

.button {
		width: 90%;
}

ul.browse li {
		float: left;
		width: 100%;
}

ul.browse li ul {
		padding: 10px 20px;
		height: 35px;
		padding: 2% 5%;
}

ul.browse li.list-number {
		width: 10%;
}

ul.browse li.list-text {
		width: 80%;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
}

ul.browse li.raquo {
  width: 10%;
		text-align: center;
}

label {
		display: inline-block;
  width: 100px;
}

