#user_description {
  height: 264px;
  background: #ddd;
  padding: 38px 0 0 0;
}

#user_description h4 {
  font-size: 1.3em;
  margin: 0;
}

#user_badges {
  margin-top: 34px;
  float: left;
  background: white;
  border-radius: 30px;
  padding: 15px;
}

#user_profile_pic {
  float: left;
  margin: 0 5% 0 5%;
}


#user_profile_pic img {
  width: 225px;
  height: 225px;
		border: 1px solid #bbb;
}

#user_profile h1 {
		display: none;
}
