#user_description {
  height: 160px;
  background: #ddd;
  padding: 38px 0 0 0;
}

#user_description h4 {
  font-size: 1.7em;
  margin: 0;
}

#user_badges {
  float: left;
}

#user_profile_pic {
  float: left;
  margin: 0 5% 0 5%;
}

#user_description p {
		margin-top: 12px;
}

#user_profile_pic img {
  width: 120px;
  height: 120px;
		border: 1px solid #bbb;
}

#user_profile h1 {
		display: none;
}
